coverage
.coverage
coverage.*
.profile-stats
.pydevproject
.project
*.pyc
*~
*.egg-info/
build/
install.log
documentation/crds_users_guide/build
documentation/crds_users_guide/*.tar.gz

# Development
*.code-workspace
.pytest_cache
__pycache__/
crds/_version.py
.vscode/
.DS_Store
