div
{
  /* border: 2px solid Black;Ê*/
  padding: 7px;
}

ul
{
    position: relative;
    left: -10px;
}

p.primary
{
    font-size:large;
    background-color: #DDDDFF;
    margin-top: 0;
    margin-bottom: 0;
}

p.subPrimary
{
    font-size:large;
    margin-top: 0;
    margin-bottom: 0;
}

p.bigNbold
{
    font-size: large;
    font-weight: bold;
}

tr.header
{
    background-color: #DDDDDD;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    height: 30px;
}

tr.plain
{
}

td
{
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 10px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 10px;
}

td.center
{
    text-align: center;
}

td.left
{
    text-align: left;
}

td.right
{
    text-align: right;
}

td.black
{
    width: 2px;
    background-color: black;
}

colgroup.right
{
    border-left: solid thin black;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
}


/*

  This style is used for error messages on the input forms.
  We normally include a <span class="error" id="..."> and then
  set the visibility.
*/

.error { color: red }


/*
      These four styles control the page layout of all our pages.  They
      cause the <div>s to move to the right place and to have certain
      attributes.

      #header
      #footer
              the banners at the top/bottom of the page.  (You have
              to emit the header first and the footer last - the style
              sheet will not move them up/down.)

      #navigation
              the sidebar to the left

      #content
              the main body of the page; all the input form and output
              results go here.

*/

#header
{
    background-color: Black;
    color: White;
    border: 2px solid Black;
}

#navigation {
/*    background-color: #66FF66; */
  float: left;
  width: 25%;
  border: 2px solid Black;
}

#content {
  float: left;
  width: 70%;
  border: 2px solid Black;
}

#footer {
  clear: both;
  border: 2px solid Black;
}
