name: CI

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:

jobs:
  pytest:
    name: ${{ matrix.runs-on }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.runs-on }}
    env:
      CONDA_CHANNELS: http://ssb.stsci.edu/astroconda
      CRDS_SERVER_URL: https://hst-crds.stsci.edu
      CRDS_TEST_ROOT: /tmp
      LD_LIBRARY_PATH: /usr/local/lib
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-latest
          - macos-latest
        python-version:
          - 3.7
          - 3.8
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache /usr/local
        id: cache-usr-local
        uses: actions/cache@v2
        with:
          path: /usr/local
          key: ${{ runner.os }}-cfitsio-3.49-fitsverify-4.20
      - name: Install fitsverify
        if: steps.cache-usr-local.outputs.cache-hit != 'true'
        run: |
          wget --quiet --output-document - http://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/cfitsio-3.49.tar.gz | tar -xz -C $HOME
          cd $HOME/cfitsio-3.49
          ./configure --prefix=/usr/local --enable-reentrant --disable-curl
          make shared
          sudo make install
          wget --quiet --output-document - https://heasarc.gsfc.nasa.gov/docs/software/ftools/fitsverify/fitsverify-4.20.tar.gz | tar -xz -C $HOME
          cd $HOME/fitsverify-4.20
          gcc -o fitsverify ftverify.c fvrf_data.c fvrf_file.c fvrf_head.c fvrf_key.c fvrf_misc.c -DSTANDALONE -lcfitsio
          sudo cp fitsverify /usr/local/bin
      - name: Test fitsverify
          fitsverify
          pip install pyyaml
      # - name: Install Python dependencies
      #   run: |
      #     pip install git+https://github.com/spacetelescope/jwst
      #     pip install git+https://github.com/spacetelescope/romancal
      #     pip uninstall --yes crds
      #     ./install
      #     pip install .[submission,test,docs,synphot]
      #     ./setup_test_cache $CRDS_TEST_ROOT
      # - name: Run tests
      #   run: ./runtests --cover
